<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.description) { %>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <% } %>
  </head>
  <body>
    <dialog id="dialog">
      Yay!!
      <button id="dialog-close">Close dialog</button>
    </dialog>
    <h1>Dynamic polyfill loading with <code>import()</code></h1>
    <p>
      This page will load the <a href="https://github.com/GoogleChrome/dialog-polyfill">dialog-polyfill</a> automatically only if your browser does not <a href="https://caniuse.com/#feat=dialog">support</a> it natively.<br>
    </p>
    <p>
      Some browsers like Safari will shortly flash the dialog as its not natively hidden.<br>
      The required css for the polyfill is included with the chunk and applied after the async load.
    </p>
    <p>
      Repo: <a href="https://github.com/maggo/dialog-polyfill-dynamic">https://github.com/maggo/dialog-polyfill-dynamic</a>
    </p>
    <button id="dialog-toggle">Open dialog</button>
  </body>
</html>
